/* @group reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{ border: 0; font-family: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; }
a img, frameset { border: 0; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
/* @end */

/* @group basic elements */
body {
	background: #dedede url(/images/structure/bg-body.png);
	color: #000;
	font: 14px/20px Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
	font-weight: normal;
	text-shadow: 1px 1px 1px #fff;
}
p,
ul,
ol,
dl,
table {
	margin-bottom: 20px;
}
a {
	color: #406b9c;
	text-decoration: none;
}
a:hover {
	color: #5582b6;
}
abbr {
	border-bottom: 1px dotted #000;
}
/* @end */

/* @group utility */
.clearing { clear: both; }
.contain:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.lte7 .contain { height: 1%; }
.screen-reader { display: block; left: -9999px; position: absolute; top: -9999px; }
.hide { display: none; }
.left { float: left; }
.right { float: right; }
.span1 { width: 60px; }
.span2 { width: 140px; }
.span3 { width: 220px; }
.span4 { width: 300px; }
.span5 { width: 380px; }
.span6 { width: 460px; }
.span7 { width: 540px; }
.span8 { width: 620px; }
.span9 { width: 700px; }
.span10 { width: 780px; }
.span11 { width: 860px; }
.span12 { width: 940px; }
.button {
	background: #406b9c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	text-transform: uppercase;
}
.button:hover {
	background-color: #5582b6;
	color: #fff;
}
.separate { display: block; }
/* @end */

/* @group basic structure */
#container {
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
	width: 940px;
	z-index: 100;
}
#header {
	position: relative;
	width: 100%;
}
#content {
	border-top: 4px solid rgba(0,0,0,0.025);
}
#footer {
	padding-top: 20px;
	text-align: right;
}
/* @end */

/* @group grid */
#grid {
	background: url(/images/grid.png) repeat-y 50% 0;
	height: 100%;
	left: 50%;
	margin-left: -470px;
	opacity: 0.1;
	position: fixed;
	top: 0;
	width: 940px;
	z-index: 10;
}
#toggle-grid {
	display: block;
	left: -9999px;
	position: absolute;
	top: -9999px;
}
/* @end */

/* @group header */
#header h1 {
	float: left;
	font-size: 72px;
	font-weight: normal;
	line-height: 72px;
	padding-left: 110px;
	position: relative;
}
#header h1 abbr {
	background: #000;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	color: #fff;
	display: inline-block;
	font-size: 40px;
	height: 100px;
	left: 0;
	line-height: 100px;
	position: absolute;
	text-align: center;
	top: -150px;
	-moz-transition: -moz-transform 0.75s ease-in;
	-webkit-transition: -webkit-transform 0.75s ease-in;
	transition: -webkit-transform 0.75s ease-in;
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
	width: 100px;
}
#header h1 abbr:hover {
	-moz-transform: rotate(-380deg);
	-webkit-transform: rotate(-380deg);
	transform: rotate(-380deg);
}
#header h1 span {
	opacity: 0.0001;
}
#header .nav-utility {
	bottom: 20px;
	list-style: none;
	margin: 0;
	position: absolute;
	right: 0;
}
#header .nav-utility a {
	background-image: url(/images/structure/ico.png);
	background-repeat: no-repeat;
	background-position: 5px 7px;
	padding-left: 35px;
}
/* @end */

/* @group footer */
#footer p {
	font-size: 12px;
	margin-bottom: 0;
}
/* @end */

/* @group sections */
.section {
	overflow: hidden;
	width: 100%;
}
.lead {
	font-size: 16px;
	line-height: 24px;
}
.section h2 {
	font-size: 20px;
	line-height: 24px;
	margin-top: 40px;
}
.content {
	border-bottom: 1px dotted #b5b5b5;
	padding: 40px 0;
}
.content h3 {
	font: italic 30px/30px Georgia, Times, serif;
	margin: 5px 0 20px;
}
.content p:last-child {
	margin-bottom: 0;
}
.speakers {
	list-style: none;
}
.speakers li {
	float: left;
	margin-right: 20px;
	width: 140px;
}
.speakers li:last-child {
	margin-right: 0;
}
.speakers a {
	display: block;
	text-decoration: none;
}
.speakers .figure {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	border: 4px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: block;
	height: 162px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 132px;
}
.speakers li:first-child .figure {
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.speakers li:last-child .figure {
	-moz-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}
.speakers .figure img {
	-webkit-transform: translateZ(0);
}
.speakers h4 {
	font-size: 14px;
	text-align: center;
	text-shadow: none;
}
.past-events {
	list-style: none;
	margin: 0;
}
.past-events .details {
	display: none;
}
.where h4 {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
.where p {
	font-style: italic;
}
.map {
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.25);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	border: 4px solid #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 292px;
	overflow: hidden;
	position: relative;
	width: 532px;
}
.map iframe {
	left: 0;
	position: absolute;
	top: -3px;
}
/* @end */